;; shadow-cljs configuration
{:source-paths ["src/"]

 :dependencies [[sqlingvo "0.9.31"]
                ;[sqlingvo.node "0.2.1"]
                [sqlingvo.node "0.2.2-SNAPSHOT"]
                [cider/cider-nrepl "0.21.0"]]

 :builds {:main {:target    :node-script
                 :output-to "target/main.js"
                 :main      naked.core/start
                 :modules   {:main {:entries [naked.core]}}}}
 :nrepl {:port 9999}}
